{% extends 'main.html' %} {% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a
    href="{% url 'upload' request.user.id %}"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    ><i class="fas fa-upload fa-sm text-white-50"></i> Upload Document</a
  >
</div>
<!-- the bar chart -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      Trying to show how many files of each extension is stored
    </h6>
  </div>
  <div class="card-body">
    <div class="chart-bar">
      <canvas id="myBarChart"></canvas>

      <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        (Chart.defaults.global.defaultFontFamily = "Nunito"),
          '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = "#858796";

        // Bar Chart Example
        var ctx = document.getElementById("myBarChart");
        var myBarChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: [],
            datasets: [
              {
                label: "Revenue",
                backgroundColor: "#4e73df",
                hoverBackgroundColor: "#2e59d9",
                borderColor: "#4e73df",
                data: [4215, 5312, 6251, 7841, 9821, 14984],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            layout: {
              padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0,
              },
            },
            scales: {
              xAxes: [
                {
                  time: {
                    unit: "month",
                  },
                  gridLines: {
                    display: false,
                    drawBorder: false,
                  },
                  ticks: {
                    maxTicksLimit: 6,
                  },
                  maxBarThickness: 25,
                },
              ],
              yAxes: [
                {
                  ticks: {
                    min: 0,
                    max: 15000,
                    maxTicksLimit: 5,
                    padding: 10,
                    // Include a dollar sign in the ticks
                    callback: function (value, index, values) {
                      return "$" + number_format(value);
                    },
                  },
                  gridLines: {
                    color: "rgb(234, 236, 244)",
                    zeroLineColor: "rgb(234, 236, 244)",
                    drawBorder: false,
                    borderDash: [2],
                    zeroLineBorderDash: [2],
                  },
                },
              ],
            },
            legend: {
              display: false,
            },
            tooltips: {
              titleMarginBottom: 10,
              titleFontColor: "#6e707e",
              titleFontSize: 14,
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: "#dddfeb",
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
              callbacks: {
                label: function (tooltipItem, chart) {
                  var datasetLabel =
                    chart.datasets[tooltipItem.datasetIndex].label || "";
                  return (
                    datasetLabel + ": $" + number_format(tooltipItem.yLabel)
                  );
                },
              },
            },
          },
        });
      </script>
    </div>
  </div>
</div>
<!-- Content Row -->
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Total Documents
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ count }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin Page Content -->
  {% if messages %}{% for message in messages %}
  <script>
    alert("{{ message }}");
  </script>
  {% endfor %}{% endif %}
  <div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Documents</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Notes</th>
                <th>File</th>
                <th>Upload Date</th>
                <th>Size</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Notes</th>
                <th>File</th>
                <th>Upload Date</th>
                <th>Size</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
              {% for doc in qs %}
              <tr>
                <td>{{ doc.name }}</td>
                <td>{{ doc.author }}</td>
                <td>{{ doc.notes }}</td>
                {%if user.is_authenticated%}
                <td><a href="{{doc.file.url}}"> {{ doc.file }}</a></td>
                {%else%}
                <td>{{ doc.file }}</td>
                {%endif%}
                <td>{{ doc.uploaded_date}}</td>
                <td>{{ doc.file.size|filesizeformat }}</td>

                <td>
                  {%if doc.author == user %}
                  <a href="{% url 'delete' doc.id %}"
                    ><i
                      class="fas fa-trash fa-sm text-red-50"
                      style="color: rgb(228, 11, 11)"
                    ></i
                  ></a>
                  <a href="{%url 'update' doc.id%}"
                    ><i class="fas fa-edit fa-sm text-red-50"></i
                  ></a>
                  {% comment %}
                  <a href="{%url 'read' %}"
                    ><i class="fas fa-book-reader"></i
                  ></a>
                  {% endcomment %} {%else%} {% comment %}
                  <a href="{%url 'read'  %}"
                    ><i class="fas fa-book-reader"></i
                  ></a>
                  {% endcomment %} {%endif%}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

{% endblock content %}
